deployment
.dockerignore
.git
.gitignore
.gitattributes
.github
**/*.md
.npmrc
.prettierignore
.prettierrc
.eslintignore
.eslintrc.cjs
.graphqlrc
.editorconfig
.vscode
node_modules
build
package
**/.env
doc
LICENSE